body {
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}

.board{
    display: flex;
    flex-direction: column;
}

.row1,
.row2,
.row3{
    display: flex;
}